name: Run Tests

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

permissions:
    contents: read

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
              with:
                  fetch-depth: 0
            - name: Set up Go
              uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
              with:
                  go-version-file: "go.mod"
                  check-latest: true
            - name: Setup golangci-lint
              uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
              with:
                  version: v2.8.0
                  args: --verbose
    test:
        needs: lint
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]
                go: ["1.24"]
                test-tags: ["", "-race"]
                include:
                    - os: ubuntu-latest
                      go-build: ~/.cache/go-build
                    - os: macos-latest
                      go-build: ~/Library/Caches/go-build
        name: ${{ matrix.os }} @ Go ${{ matrix.go }} ${{ matrix.test-tags }}
        runs-on: ${{ matrix.os }}
        env:
            GOTOOLCHAIN: local
            TESTTAGS: ${{ matrix.test-tags }}
            GOPROXY: https://proxy.golang.org
        steps:
            - name: Set up Go ${{ matrix.go }}
              uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
              with:
                  go-version: ${{ matrix.go }}
                  cache: false

            - name: Checkout Code
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
              with:
                  ref: ${{ github.ref }}

            - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
              with:
                  path: |
                      ${{ matrix.go-build }}
                      ~/go/pkg/mod
                  key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
                  restore-keys: |
                      ${{ runner.os }}-go-

            - name: Run Tests
              run: make test

            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
              with:
                  flags: ${{ matrix.os }},go-${{ matrix.go }},${{ matrix.test-tags }}

            - name: Format
              if: matrix.go == '1.24'
              run: diff -u <(echo -n) <(gofmt -d .)
